<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC0Rg5qQQWK9Y5IA3mJ9fY21tnIvgbZ6dc</string>
	<key>GCM_SENDER_ID</key>
	<string>228465902769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.unify</string>
	<key>PROJECT_ID</key>
	<string>unify-f9c95</string>
	<key>STORAGE_BUCKET</key>
	<string>unify-f9c95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228465902769:ios:4301213d040f3493ca4e90</string>
</dict>
</plist>